@import "../../../../variables.scss";

.other-articles {

    background-color: #F3F7FC;
    padding-top: 15px;
    padding-bottom: 43px;

    @media (min-width: $screen-md) {
        padding-top: 42px;
        padding-bottom: 63px;
    }

    .other-articles-title {
        font-family: $ffb;
        font-size: $fs-16;
        line-height: $fs-32;
        color: $color-blue-dark;
        margin-bottom: 15px;

        @media (min-width: $screen-md) {
            font-size: $fs-18;
            line-height: $fs-32;
            margin-bottom: 30px;
        }
    }

    .content   {
        overflow: auto;
    }
    .left {
        font-size: $fs-18;
        line-height: $fs-24;
        color: $color-blue-light;
        margin-bottom: 8px;

        @media (min-width: $screen-md) {
            float: left;
            font-size: $fs-18;
            line-height: $fs-22;
            margin-bottom: 0;
        }
    }
    .right {
        text-align: left;

        @media (min-width: $screen-md) {
            float: right;
            text-align: right;
        }
    }
}