<div class="mobile-hedaer">
<md-toolbar color="primary">
  <div>
    <button (click)="goBack();" md-icon-button class="side-nav-back-btn">
      <md-icon svgSrc="/assets/icon/IH-nav-arrow-back.svg"></md-icon>
    </button>
  </div>
  <span (click)="goHome();" class="site-name"><img src="../../assets/img/IH-logo.svg" width="88" height="26" /></span>
  <div>
    <button md-icon-button (click)="start.toggle()" class="side-nav-open-btn">
            <md-icon svgSrc="/assets/icon/IH-nav-hamburger.svg"></md-icon>
    </button>
  </div>
</md-toolbar>
</div>