// Px -> Rem

$fs-0	:	0.0000rem;	//	0	px
$fs-1	:	0.0625rem;	//	1	px
$fs-2	:	0.1250rem;	//	2	px
$fs-3	:	0.1875rem;	//	3	px
$fs-4	:	0.2500rem;	//	4	px
$fs-5	:	0.3125rem;	//	5	px
$fs-6	:	0.3750rem;	//	6	px
$fs-7	:	0.4375rem;	//	7	px
$fs-8	:	0.5000rem;	//	8	px
$fs-9	:	0.5625rem;	//	9	px
$fs-10	:	0.6250rem;	//	10	px
$fs-11	:	0.6875rem;	//	11	px
$fs-12	:	0.7500rem;	//	12	px
$fs-13	:	0.8125rem;	//	13	px
$fs-14	:	0.8750rem;	//	14	px
$fs-15	:	0.9375rem;	//	15	px
$fs-16	:	1.0000rem;	//	16	px
$fs-17	:	1.0625rem;	//	17	px
$fs-18	:	1.1250rem;	//	18	px
$fs-19	:	1.1875rem;	//	19	px
$fs-20	:	1.2500rem;	//	20	px
$fs-21	:	1.3125rem;	//	21	px
$fs-22	:	1.3750rem;	//	22	px
$fs-23	:	1.4375rem;	//	23	px
$fs-24	:	1.5000rem;	//	24	px
$fs-25	:	1.5625rem;	//	25	px
$fs-26	:	1.6250rem;	//	26	px
$fs-27	:	1.6875rem;	//	27	px
$fs-28	:	1.7500rem;	//	28	px
$fs-29	:	1.8125rem;	//	29	px
$fs-30	:	1.8750rem;	//	30	px
$fs-31	:	1.9375rem;	//	31	px
$fs-32	:	2.0000rem;	//	32	px
$fs-33	:	2.0625rem;	//	33	px
$fs-34	:	2.1250rem;	//	34	px
$fs-35	:	2.1875rem;	//	35	px
$fs-36	:	2.2500rem;	//	36	px
$fs-37	:	2.3125rem;	//	37	px
$fs-38	:	2.3750rem;	//	38	px
$fs-39	:	2.4375rem;	//	39	px
$fs-40	:	2.5000rem;	//	40	px
$fs-41	:	2.5625rem;	//	41	px
$fs-42	:	2.6250rem;	//	42	px
$fs-43	:	2.6875rem;	//	43	px
$fs-44	:	2.7500rem;	//	44	px
$fs-45	:	2.8125rem;	//	45	px
$fs-46	:	2.8750rem;	//	46	px
$fs-47	:	2.9375rem;	//	47	px
$fs-48	:	3.0000rem;	//	48	px
$fs-49	:	3.0625rem;	//	49	px
$fs-50	:	3.1250rem;	//	50	px
$fs-51	:	3.1875rem;	//	51	px
$fs-52	:	3.2500rem;	//	52	px
$fs-53	:	3.3125rem;	//	53	px
$fs-54	:	3.3750rem;	//	54	px
$fs-55	:	3.4375rem;	//	55	px
$fs-56	:	3.5000rem;	//	56	px
$fs-57	:	3.5625rem;	//	57	px
$fs-58	:	3.6250rem;	//	58	px
$fs-59	:	3.6875rem;	//	59	px
$fs-60	:	3.7500rem;	//	60	px