<div id="Portal"
     class="portal-page portal-page--desktop">

    <div class="desktop-rows3">

        <div class="desktop-header">

            <div class="desktop-header-cell">

                <top-menu-desktop></top-menu-desktop>

                <!--<nav-desktop></nav-desktop>-->

            </div>

        </div>

        <div class="desktop-content">

            <div class="desktop-content-cell">





                <!--#portal-section-1 shimmel-->
                <div class="portal-section" id="portal-section-1" *ngIf="true">
                    <h2 class="portal-section-title">
                        Schimmel entfernen
                    </h2>
                    <div class="portal-section-content">
                        <div class="block-videos">
                            <div class="container">
                                <video-portal-shimmel></video-portal-shimmel>
                            </div>
                        </div>
                        <div class="block-articles">
                            <articles-portal-shimmel></articles-portal-shimmel>
                        </div>
                        <tipp-portal-desktop-shimmel></tipp-portal-desktop-shimmel>
                    </div>
                </div>

                <!--#portal-section-2 floor-->
                <div class="portal-section" id="portal-section-2" *ngIf="true">
                    <h2 class="portal-section-title">
                        Bodenbeläge
                    </h2>
                    <div class="portal-section-content">
                        <div class="block-videos">
                            <div class="container">
                                <video-portal-floor></video-portal-floor>
                            </div>
                        </div>
                        <div class="block-articles">
                            <articles-portal-floor></articles-portal-floor>
                        </div>
                        <tipp-portal-desktop-floor></tipp-portal-desktop-floor>
                    </div>
                </div>


                <!--#portal-section-3 pest-->
                <div class="portal-section" id="portal-section-3" *ngIf="true">
                    <h2 class="portal-section-title">
                        Mäuse loswerden
                    </h2>
                    <div class="portal-section-content">
                        <div class="block-videos">
                            <div class="container">
                                <video-portal-pest></video-portal-pest>
                            </div>
                        </div>
                        <div class="block-articles">
                            <articles-portal-pest></articles-portal-pest>
                        </div>
                        <tipp-portal-desktop-pest></tipp-portal-desktop-pest>
                    </div>
                </div>


            </div>

        </div>


        <div class="desktop-footer">
            <footer-desktop></footer-desktop>
        </div>

    </div>

</div>

