<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%= webpackConfig.metadata.title %></title>

    <meta name="description" content="<%= webpackConfig.metadata.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>
    <link href="./assets/css/fonts.style.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/splash.style.css" rel="stylesheet" type="text/css">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"-->
    <!-- base url -->
    <!--<base href="<%= webpackConfig.metadata.baseUrl %>">-->
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  </head>

  <body>
  <!-- Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TQ92FK');</script>
  <!-- End Google Tag Manager -->
  <app>

    <div class="splash-screen">
      <div class="splash-screen-content">
        <div class="splash-screen-image">
          <img  alt="" src="./assets/img/IH-hero-placeholder.svg" height="200">
        </div>
        <h1>Immoheld</h1>
        <p><img alt="" src="./assets/icon/IH-icon-heart.svg" height="20"> dein Zuhause</p>
      </div>
    </div>

  </app>


  <% if (webpackConfig.metadata.isDevServer && webpackConfig.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
