@import "../../variables.scss";

/*.mobile-sidenav-layout {

  md-sidenav {
    background-color: $sidenav-bgcolor;
    width: 100vw;
  }

  .side-nav-open-button {
    float: right;
  }

  .side-nav-close-button {
    float: right;
  }
}*/

